<h1><%= @user.username %></h1>

<h2>Ratings</h2>
<% if @user.ratings.any? %>
  <%= pluralize(@user.ratings.count, 'rating') %>. Average <%= round(@user.average_rating) %>.
  <ul>
    <% @user.ratings.each do |r| %>
      <li>
        <%= link_to r.beer, r.beer %>
        <%= " - #{r.score}" %>
        <% if @user == current_user %>
          <%= " - " %>
          <%= link_to 'delete', r, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <p>Favorite style: <%= @user.favorite_style.name %></p>
  <p>Favorite brewery: <%= @user.favorite_brewery.name %></p>
<% else %>
  <p>No ratings.</p>
<% end %>

<h2>Club memberships</h2>
<% if @user.memberships.any? %>
  <ul>
    <% @user.memberships.each do |m| %>
      <li>
        <%= link_to m.beer_club, m.beer_club %>
        <% if @user == current_user %>
          -
          <%= link_to 'delete', m, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No club memberships.</p>
<% end %>

<% if @user == current_user %>
  <%= link_to 'Change password', edit_user_path(@user), class:'btn btn-default btn-sm'  %>
  <%= link_to 'Delete user account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default btn-sm' %>
<% end %>