<h1>Ratings</h1>

<p> Number of ratings: <%= @ratings.count %></p>

<ul>
  <% @ratings.each do |r| %>
    <li> <%= link_to r.beer, r.beer %> - <%= r.score %> - <%= link_to r.user.username, r.user %></li>
  <% end %>
</ul>

<%= link_to 'Add new rating', new_rating_path, class:'btn btn-default btn-sm' %>