<p id="notice"><%= notice %></p>

<h2><%= @brewery.name %></h2>

<p>
  <i>Established in <%= @brewery.year %></i>
</p>

<p>Beers: <%= @brewery.beers.count %> </p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
