
<h2><%= @brewery.name %></h2>

<p>
  <i>Established in <%= @brewery.year %>.</i>
</p>

<h3>Beers (<%= @brewery.beers.count %>):</h3>

<ul>
  <% @brewery.beers.each do |b| %>
    <li><%= link_to b.name, b %></li>
  <% end %>
</ul>

<p>
  <% if @brewery.ratings.empty? %>
    No beers have been rated yet!
  <% else %>
    Brewery has <%= pluralize(@brewery.ratings.count, 'rating') %> with average score of <%= @brewery.average_rating.round(2) %>.
  <% end %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %>
