<h1>Beers</h1>

<p> Number of beers: <%= @beers.count %> </p>

<table class="table table-hover">
  <thead>
    <tr>
      <th> <%= link_to 'Name', beers_path(order:"name") %> </th>
      <th> <%= link_to 'Style', beers_path(order:"style") %> </th>
      <th> <%= link_to 'Brewery', beers_path(order:"brewery") %> </th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, beer %></td>
        <td><%= link_to beer.style.name, beer.style %></td>
        <td><%= link_to beer.brewery.name, beer.brewery %></td>
        <td><%= link_to('Edit', edit_beer_path(beer)) if current_user %></td>
        <td><%= link_to('Delete', beer, method: :delete, data: { confirm: 'Are you sure?' }) if current_user and current_user.admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to('New Beer', new_beer_path) if current_user %>
