<h1><%= @beer.name %></h1>

<p>
  <strong>Style:</strong>
  <%= @beer.style.name %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery.name %>
</p>

<p>
  <% if @beer.ratings.empty? %>
    Beer has not yet been rated!
  <% else %>
    Beer has <%= pluralize(@beer.ratings.count, 'rating') %>. Average: <%= @beer.average_rating.round(2) %>.
  <% end %>
</p>

<% if current_user %>

  <h4>give a rating:</h4>

  <%= form_for(@rating) do |f| %>
    <%= f.hidden_field :beer_id %>
    score: <%= f.number_field :score %>
    <%= f.submit %>
  <% end %>

<% end %>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
